<header class='header'>
<h1>Roadkill 'Possum' Survey Maker</h1>
</header>
<div class="alert-box" id="notice"><span>notice: </span><%= notice %></div>
<%= form_tag login_path do  %>
  <div class="login">
    <div class="center-align">
      <div class="center-align-input">
        <label class="input-label" for="email">Email</label>
        <%= text_field_tag :email %></br>
        <label class="input-label">Password</label>
        <%= password_field_tag :password %></br>
        <div class="button-box">
          <button class="link submit-link">Log in</button>
          <%= link_to 'Create New User', new_author_path, :class=> 'link new-account-link' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
