<header class=header>
  <h1>Create New Account</h1>

</header>



<div class="create-new-account">



<%= form_for(@author) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit 'Create New User', :class=> 'link new-account-link modal-link'%>



  </div>
  </div>
<% end %>
