<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @survey.questions.order(:order_number).each do |q| %>
    <%= q.question_text %>
    <% if q.required == true %>
      <div> (Required) </div>
    <% else %>
      <div> (Optional) </div>
    <% end %>

    <%= fields_for(@answer) do |ff| %>
      <% if @answer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

          <ul>
          <% @answer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <% if q.question_type == "Yes/No" %>
        <div class="field">
          <%= ff.label :answer %><br>
          <%= ff.select :answer, options_for_select(["Yes", "No"]), include_blank: 'Please Select' %>
        </div>
      <% elsif q.question_type == "Short Answer" %>
        <div class="field">
          <%= ff.label :answer %><br>
          <%= ff.text_field :answer %>
        </div>
      <% elsif q.question_type == "Long Answer" %>
        <div class="field">
          <%= ff.label :answer %><br>
          <%= ff.text_area :answer %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
