


<!--New/Edit Survey Form-->

<%= form_for @survey, :html => {:class => "create-survey"} do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--Survey Details-->

  <div class="survey-details">
    <div class="field">
      <h2>Title</h2><br>
      <%= f.text_field :title, class:"input-data" %>
    </div>
    <div class="field">
      <h2>Description</h2><br>
      <%= f.text_area :description, class:"input-data" %>
    </div>
    <div class="field">
      <%= f.hidden_field :author_id, class:"input-data" %>
    </div>
  </div>

<!--Questions-->

  <h2> Questions: </h2>

  <!--Individual Question-->

  <%= f.fields_for(:questions) do |ff| %>

  <div class="question-box">

    <div class="question-details-container">

      <div class="question-details">
        <h3>#</h3><br>
        <%= ff.number_field :order_number, class:'input-data' %>
      </div>
      <div class="question-details">
        <h3>Question Type</h3><br>
        <div class="radio">
          <label class="text">Yes/No</label>
          <%= ff.radio_button :question_type, 'Yes/No', class:'input-data'%>
        </div>
        <div class="radio">
          <label class="text">Short Answer</label>
          <%= ff.radio_button :question_type, 'Short Answer', class:'input-data'%>
        </div>
        <div class="radio">
          <label class="text">Long Answer</label>
          <%= ff.radio_button :question_type, 'Long Answer', class:'input-data'%>
        </div>
      </div>
      <div class="question-details">
        <h3>Required?</h3><br>
        <%= ff.check_box :required, class:'input-data' %>
      </div>
      <div class="field">
        <%= ff.check_box :_destroy, class:'destroy-checkbox' %>
      </div>

    </div>

    <div class="question">
      <%= ff.text_field :question_text, class:'question-input input-data', placeholder:'Type your question here' %>
    </div>

  </div>

  <% end %>

<!--Footer with New Question, Publish Checkbox and Save Button-->

  <footer class="actions">

    <div class="action-options button-box">
      <span>
      <%= f.button "Add New Question", type: 'button', class: 'add-button' %>
      </span>

      <span>
      <label class="publish">Publish
      <%= f.check_box :publish %>
      </label>
      </span>

      <span>
      <%= f.button "Save", class:'submit-button' %>
      </span>
    </div>

  </footer>

<% end %>
