<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
<<<<<<< HEAD
    <%= f.label :title, 'Tell us the name of your survey:', class:'text' %><br>
    <%= f.text_field :title, placeholder: 'Survey Title', class:'text' %>
=======
    <%= f.label :title%><br>
    <%= f.text_field :title %>
>>>>>>> master
  </div>
  <div class="field">
    <%= f.label :description, 'Describe your survey:', class:'text' %><br>
    <%= f.text_area :description, class:'text' %>
  </div>
  <div class="field">
    <%= f.hidden_field :author_id %>
  </div>


  <h3> Questions: </h3>
  <%= f.fields_for(:questions) do |ff| %>
    <div class="question-box">
      <div class="field">
        <%= ff.label :question_type, 'Select Question Type' %><br>
        <%= ff.select :question_type, options_for_select(["Yes/No", "Short Answer", "Long Answer"]), include_blank: 'Please Select' %>
      </div>
      <div class="field">
        <%= ff.label :question_text, 'Enter Question:' %><br>
        <%= ff.text_area :question_text%>
      </div>
      <div class="field">
        <%= ff.label :required %><br>
        <%= ff.check_box :required %>
      </div>
      <div class="field">
        <%= ff.label :order_number %><br>
        <%= ff.number_field :order_number %>
      </div>
      <div class="field">
        <%= ff.label :_destroy %><br>
        <%= ff.check_box :_destroy %>
      </div>
    </div>
  <% end %>


  <footer class="actions">

    <span>
    <%= f.button "Add New Question", type: 'button', class: 'add-button' %>
    </span>

    <span>
    <%= f.label :publish, class:'text' %>
    <%= f.check_box :publish %>
    </span>

    <span>
    <%= f.button "Save", class:'submit-button' %>
    </span>

  </footer>

<% end %>



<form class="create-survey">
  <!--<div class="survey-header"-->
    <label class="text">Tell us the name of your survey:</label><br>
    <input type="text" class="input-data" placeholder="Survey Title"><br>

    <label class="text">Please provide a brief description of your survey:</label><br>
    <input type="text" class="input-data" placeholder="Survey Description"><br>


  <div>

   <label>Yes or No
     <input type="radio" name="question">
   </label>
   <label>Short Answer
     <input type="radio" name="question">
   </label>
   <label>Long Answer
     <input type="radio" name="question">
   </label>
     <input type="text">

  </div>


</form>
