


<!--New/Edit Survey Form-->
<body>


<%= form_for @survey, :html => {:class => "create-survey"} do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--Survey Details-->



<!-- <input type="text" class="input-data", placeholder="Survey Description"><br> -->


  <label class="text">Tell us the name of your survey:</label><br>

    <%= f.text_field :title, class: "input-data", :placeholder => "Survey Title"%><br>

  <label class="text">Please provide a brief description of your survey to give the survey takers some context for your questions:</label><br>

    <%= f.text_area :description, class:'input-data', :placeholder => "Survey Description" %>

    <div class="field">
      <%= f.hidden_field :author_id, class:"input-data" %>
    </div>


  <div class="add-question">

    <h3 class="questions">Add your questions here</h3>

    <%= f.fields_for(:questions) do |ff| %>

      <%= ff.number_field :order_number, class: "sort-order"%>
      <%= ff.label :order_number, class: "text" %>Question Number<br>


      <div class="input data">What type of question would you like to ask?</br>

          <label>
            Yes or No
              <%= ff.radio_button :question_type, 'Yes/No', class:'input-data'%>
          </label>

          <label>
            Short Answer
              <%= ff.radio_button :question_type, 'Short Answer', class:'input-data'%>
          </label>

          <label>Long Answer
              <%= ff.radio_button :question_type, 'Long Answer', class:'input-data'%>
          </label><br>

          Required answer
            <%= ff.check_box :required, class:'input-data' %>

          <%= ff.check_box :_destroy, class:'destroy-checkbox' %>


      <input type="text" class="input-data" placeholder="Your Answer Here"><br>
</div>
      <% end %>


      <footer class="actions">
          <span>
          <%= f.button "Add New Question", type: 'button', class: 'add-button' %>
          </span>

          <span>
          <label class="text add-button">Publish
          <%= f.check_box :publish %>
          </label>
          </span>

          <span>
          <%= f.button "Save", class:'submit-button' %>
          </span>

      </footer>
      </div>
    <% end %>
</body>
