<!-- New/Edit Survey Form -->


<%= form_for @survey, :html => {:class => "create-survey"} do |f| %>
 <% if @survey.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

     <ul>
     <% @survey.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

<!-- Survey Details -->



<div class="survey-details">


 <label class="text">Tell us the name of your survey:</label><br>

   <%= f.text_field :title, class: "input-data", :placeholder => "Survey Title"%><br>

 <label class="text">Please provide a brief description of your survey to give the survey takers some context for your questions:</label><br>

   <%= f.text_area :description, class:'input-data', :placeholder => "Survey Description" %>

   <div class="field">
     <%= f.hidden_field :author_id, class:"input-data" %>
   </div>


 </div>



  <h3 class="questions">Add your questions here</h3>


  <div class="js-questions-container">

    <%= f.fields_for(:questions) do |ff| %>

    <div class="new-question">

      <%= ff.number_field :order_number, class: "sort-order"%>
      <label class="question">Question Number</label>


      <div class="text">What type of question would you like to ask?</br>

         <label>
           Yes or No
             <%= ff.radio_button :question_type, 'Yes/No', class:'input-data'%>
         </label>

         <label>
           Short Answer
             <%= ff.radio_button :question_type, 'Short Answer', class:'input-data'%>
         </label>

         <label>Long Answer
             <%= ff.radio_button :question_type, 'Long Answer', class:'input-data'%>
         </label><br>

         <label>Required answer
         <%= ff.check_box :required, class:'input-data' %>
         </label>

         <%= ff.check_box :_destroy, class:'destroy-checkbox' %>

         <%= ff.text_field :question_text, class:'question-input', placeholder:'Type your question here' %>

      </div>

    </div>

    <% end %>

  </div>




     <footer class="actions">
         <span>
         <%= f.button "Add New Question", type: 'button', class: 'add-button' %>
         </span>

         <span>
         <label class="text publish">Publish
         <%= f.check_box :publish %>
         </label>
         </span>

         <span>
         <%= f.button "Save", class:'submit-button' %>
         </span>

     </footer>


   <% end %>
