
<p id="notice"><%= notice %></p>

<header class=header>
  <h1>SurveySomething</h1>

</header>



  <form class="user-home-page">
    <div class="button-box">
       <%= link_to 'New Survey', new_survey_path, :class=> 'link newpage'%>
       <%= button_tag 'Log Out', :class=> 'button submit-button' %>


   <table rules="none" class="table">
      <thead>
        <tr >
          <th class="table-header">Published</th>
          <th class="table-header">Survey Title</th>
          <th class="table-header url">Link to Survey</th>
          <th class="table-header"></th>
          <th class="table-header"></th>
          <th class="table-header"></th>
          <th colspan="3"></th>

        </tr>
    </thead>
      <tbody>
          <% @surveys.each do |survey| %>
            <tr>
              <td><%= survey.publish %></td>
              <td><%= survey.title %></td>
              <!-- <td><%= survey.description %></td> -->
              <td><%= survey.description %></td>
              <td><%= link_to 'Show', survey, :class => "link user-edit" %></td>
              <td><%= link_to 'Edit', edit_survey_path(survey), :class=> "link user-edit"%></td>
              <td><%= link_to 'Delete', survey, method: :delete, data: { confirm: 'Are you sure?' }, :class => "link user-edit" %></td>
            </tr>
         <% end %>
    </tbody>
    </table>

     <br>

    </form>
