<p id="notice"><%= notice %></p>

<header class=header>New Survey
  <h1><%= @author.name %>'s Surveys</h1>
  <%= link_to 'Log Out', logout_path, :class=> 'link submit-link logout' %>
</header>


<%= render 'form' %>

<%= link_to 'My Surveys', root_path %>
